################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/merkle-poc/src/Merkle.Core/obj/Debug/net10.0
/merkle-poc/src/Merkle.Core/obj
/merkle-poc/src/Merkle.Node/obj/Debug/net10.0
/merkle-poc/src/Merkle.Node/obj
/merkle-poc/src/Merkle.Storage/obj/Debug/net10.0
/merkle-poc/src/Merkle.Storage/obj
/merkle-poc/.vs/merkle-poc.slnx
/AntiEntropySystem/.vs
/AntiEntropySystem/Client/obj
/AntiEntropySystem/Contracts/obj
/AntiEntropySystem/Node/obj
/AntiEntropySystem/Shared/obj
/AntiEntropySystem/Client/bin/Debug/net10.0
/AntiEntropySystem/Node/bin/Debug/net10.0
/AntiEntropySystem/Contracts/bin/Debug/net10.0
/AntiEntropySystem/Shared/bin/Debug/net10.0
/node_modules/*
/RAGPOC/node_modules/*
/RabbitMQPOC/RabbitMQ-POC/.vs/RabbitMQ-POC.slnx
/RabbitMQPOC/RabbitMQ-POC/obj
/RabbitMQPOC/RabbitMQ-POC/.vs
/RabbitMQPOC/RabbitMQ-POC/bin/Debug/net10.0
/RabbitMQWithMassTransit/MassTransitPOC/.vs
/RabbitMQWithMassTransit/MassTransitPOC/bin/Debug/net8.0
/RabbitMQWithMassTransit/MassTransitPOC/obj
/APISkeleton/Skeleton/.vs/Skeleton.slnx
/APISkeleton/Skeleton/bin/Debug/net10.0
/APISkeleton/Skeleton/obj
